/*
Layout from http://ago.tanfa.co.uk/css/layouts/css-3-column-layout-v1.html
*/

/* 3-Column Layout */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 750px;
  min-height: 600px;
  background: #fff;
}

html, body, textarea {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#header {
  position: absolute; 
  top: 0;
  left: 0;
  height: 50px; 
  background: #ccc; 
  border-bottom: 1px solid #888;
  width: 100%; 
  z-index: 10;
}

#footer, .left, .middle, .right {
  background: #fff;
}

#problems, #scoreboard_table_div, #answers, #footer {
  border-top: 1px solid #888;
}

table {
  border-collapse:collapse;
}

table, th, td {
  border: 1px solid #aaa;
}

th {
  border-bottom: 3px solid #ccc;
  background: #eee;
}

#problems a:hover {
  color: #0082d4;
}

#problems a {
  color: #0058bb;
  font-weight: bold;
  margin: 0px;
  padding: 2px 5px;
  text-decoration: none;
}

.zip_line {
  margin: 4px auto;
  width: 30%;
  background: #ccc;
  height: 1px;
}

#footer {
  position: absolute; 
  height: 32px; 
  bottom: 0; left: 0; right: 0;
  z-index: 15;
}

.div_padding {
  padding: 0.5em;
}
.left {
  width: 225px; 
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 50px 0px 0px 0px;
  border-right: 1px solid #888;
  z-index: 5;
}
.middle {
  position: absolute;
  width: auto;
  min-width: 295px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 50px 230px 0px 225px;
}
.right {
  width: 230px; 
  position: absolute;
  top: 0; right: 0; bottom: 0; right: 0;
  margin: 50px 0px 0px 0px;
  border-left: 1px solid #888;
}

#header #timer {
  color: #208120;
  font-weight: bold;
  padding: 10px 0px;
  font-size: 24px;
  text-align: center;
  -moz-border-radius: 0 0 0 0.5em;
  -webkit-border-radius: 0 0 0 0.5em;
}

#logo_div {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 6px 10px 4px 10px;
  width: 141px;
  height: 40px;
  background: url('/images/proco_logo40.png');
}

#footer #quote_marquee {
  height: 18px;
  color: #C00;
  text-align: right;
  padding: 0.25em;
  font-family: cursive;
}

.div_title {
  border-bottom: 1px solid #bbb;
  color: #000;
	margin-bottom: 5px;
	text-align: center;
	font-size: 14px;
  font-weight: bold;
}

#messages div div {
  padding: 3px 7px;
  margin: 2px 0px;
}

#messages .broadcast {
  background: #ffc2d3;
  border-bottom: 1px solid #ff6c95;
}

#messages .reply {
  background: #ddd8ff;
  border-bottom: 1px solid #a195ff;
}

#messages .asked {
  background: #eee;
  border-bottom: 1px solid #bbb;
}

h5 {
  color: #555;
  font-size: 10px;
  padding: 0px;
  margin: 0px 0px 2px 0px;
  text-align: center;
}

#submissions_upload {
  height: 10em;
  text-align: center;
  overflow: visible;
  border-bottom: solid 1px;
}

#submissions_upload_status {
  border: solid 1px;
  background: #EEF;
  text-align: center;
  margin-top: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

#submissions_table_div {
  height: 50%;
  overflow-y: auto;
}

#submissions_table {
  margin: auto;
  width: 100%;
}

#scoreboard_table {
  margin: auto;
  width: 100%;
}

#scoreboard_table_div  {
  height: 50%;
  overflow-y: auto;
}

#ask {
  height: 30%;
  overflow-y: auto;
}

#ask #ask_message {
  background: #eee; 
  border: 1px solid #bbb;
  padding: 3px;
}

#answers {
  height: 70%;
  overflow-y: auto;
}

#problems {
  text-align: center;
}

.results_table td {
  text-align: center;
}

tr.correct {
  background: #CCFFCC;
}

tr.incorrect {
  background: #FFCCCC;
}

td.correct {
  background: #CCFFCC;
}

td.incorrect {
  background: #FFCCCC;
}