/*
Layout from http://ago.tanfa.co.uk/css/layouts/css-3-column-layout-v1.html
*/

/* 3-Column Layout */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 750px;
  min-height: 600px;
  background: #fff;
}

html, body, #ask_message {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.1;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#header {
  position: absolute; 
  top: 0;
  left: 0;
  height: 50px; 
  background: #ccc; 
  border-bottom: 1px solid #888;
  width: 100%; 
  z-index: 10;
}

#footer, .left, .middle, .right {
  background: #fff;
}

#problems .div_padding, #scoreboard_table_div .div_padding, #answers .div_padding {
  border-top: 1px solid #888;
}

table {
  border-collapse:collapse;
}

table, th, td {
  border: 1px solid #aaa;
}

th {
  border-bottom: 3px solid #ccc;
  background: #eee;
  font-weight: bold;
}

th, td {
  padding: 3px;
}

#problems a:hover {
  color: #0082d4;
}

#problems a {
  color: #0058bb;
  font-weight: bold;
  line-height: 1.3;
  text-decoration: none;
}

.zip_line {
  margin: 4px auto;
  width: 30%;
  background: #ccc;
  height: 1px;
}

#footer {
  margin: 10px;
  text-align: center;
}

.div_padding {
  padding: 0.5em;
}
.left {
  width: 180px; 
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 50px 0px 0px 0px;
  border-right: 1px solid #888;
  z-index: 5;
}
.middle {
  position: absolute;
  width: auto;
  min-width: 390px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: 50px 180px 0px 180px;
}
.right {
  width: 180px; 
  position: absolute;
  top: 0; right: 0; bottom: 0; right: 0;
  margin: 50px 0px 0px 0px;
  border-left: 1px solid #888;
}

#header #timer.expired {
  color: #cc3333;
}

#header #timer {
  color: #208120;
  font-weight: bold;
  padding: 10px 0px;
  font-size: 24px;
  text-align: center;
  -moz-border-radius: 0 0 0 0.5em;
  -webkit-border-radius: 0 0 0 0.5em;
}

#logo_div {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 6px 10px 4px 10px;
  width: 141px;
  height: 40px;
  background: url('/images/proco_logo40.png');
}

#footer #quote_marquee {
  height: 18px;
  color: #C00;
  text-align: right;
  padding: 0.25em;
  font-family: cursive;
}

.div_title {
  border-bottom: 1px solid #bbb;
  color: #000;
	margin-bottom: 5px;
	text-align: center;
	font-size: 14px;
  font-weight: bold;
  padding: 0px 0px 2px 0px;
}

#messages div div {
  padding: 4px 6px 6px 6px;
  margin: 0px;
}

#messages .broadcast {
  background: #ffc2d3;
  border-bottom: 1px solid #ff6c95;
}

#messages .reply {
  background: #ddd8ff;
  border-bottom: 1px solid #a195ff;
}

#messages .asked {
  background: #eee;
  border-bottom: 1px solid #bbb;
}

h5 {
  color: #666;
  font-size: 10px;
  padding: 0px;
  margin: 0px 0px 4px 0px;
  text-align: center;
}

#submissions_upload:active,
#ask_submit:active,
#debug_submit:active {
  text-align: center;
  border: 1px solid #999;
  background: #ddd;
  padding: 3px 5px;
  border-radius: 7px;
}

#submissions_upload,
#ask_submit,
#debug_submit {
  text-align: center;
  border: 1px solid #777;
  background: #ccc;
  padding: 3px 5px;
  border-radius: 7px;
  margin: 0px;
}

#upload {
  text-align: center;
}

#submissions_upload {
  overflow: visible;
}

#submissions_upload_button {
  margin: 3px;
}

#submissions_upload_status,
#submissions_status {
  background: #ddd8ff;
  text-align: center;
  padding: 5px;
  margin: 0px 0px 7px 0px;
  color: #555;
}

#submissions_table_div {
  height: 50%;
  overflow-y: auto;
}

#submissions_table {
  margin: auto;
  width: 100%;
}

#scoreboard_table {
  margin: auto;
  width: 100%;
}

#scoreboard_table tr.me td {
  font-weight: bold;
}

#scoreboard_table_div {
  height: 50%;
  overflow-y: auto;
}

#ask {
  height: 30%;
  overflow-y: auto;
  text-align: center;
}

#ask #ask_message,
#soln_good,
#soln_bad {
  width: 95%;
}

#ask #ask_message,
#soln_good,
#soln_bad,
#problem_id,
#soln_type {
  background: #f8f8f8; 
  border: 1px solid #bbb;
  padding: 3px;
  margin-bottom: 7px;
}

#soln_good, #soln_bad {
  height: 75px;
}

#problem_id,
#soln_type {
  padding: 1px;
}

#problem_id_label,
#soln_type_label,
#soln_good_label,
#soln_bad_label {
  margin-bottom: 2px;
}

#answers {
  height: 70%;
  overflow-y: auto;
}

#problems {
  text-align: center;
}

.results_table td {
  text-align: center;
}

tr.correct td, td.correct {
  background-color: #cfc;
}

tr.incorrect td, td.incorrect {
  background-color: #fcc;
}

.problem_link {
  margin-bottom: 5px;
}